
.preview-swiper {
    width: 100%;
    height: 100%;
    padding-left: 60px;
}

@media(max-width:1440px){
    .preview-swiper{
        padding-left: 60px;
    }
}

@media(max-width: 870px) {
    .preview-swiper{
        padding-left: 20px;
    }
}


.preview-swiper .swiper-slide {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    position: relative;
}

@media(max-width: 561px) {
    .preview-swiper{
        padding-left: 10px;
    }

    .preview-swiper .swiper-slide {
        width: 95%;
        height: 100%;
        text-align: center;
        font-size: 18px;
        position: relative;
    }
}
